body{font-family:Arial;background:#0f172a;color:white;padding:20px}
button{padding:8px;margin:5px;border-radius:6px;cursor:pointer}
input{padding:6px;margin:4px}
section{background:#1e293b;padding:15px;margin:10px;border-radius:10px}
.center{text-align:center;margin-top:120px}
