body {
  font-family: Arial;
  background:#f4f7fb;
  padding:20px;
  transition:.3s;
}
body.dark {background:#0f172a;color:white;}

header{text-align:center;margin-bottom:20px}

.card {
  background:white;
  padding:20px;
  margin-bottom:20px;
  border-radius:12px;
  box-shadow:0 10px 20px rgba(0,0,0,.08);
}

body.dark .card{background:#020617}

textarea,input{
  width:100%;
  padding:10px;
  margin:8px 0;
}

button{
  background:#2563eb;
  color:white;
  padding:8px 14px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  transition:.2s;
}

button:hover{transform:scale(1.05)}

.output{margin-top:10px;white-space:pre-wrap}

.theme-btn{position:fixed;top:15px;right:20px}

.correct{background:#16a34a!important}
.wrong{background:#dc2626!important}

.animate{animation:fade .6s}
@keyframes fade{
  from{opacity:0;transform:translateY(20px)}
  to{opacity:1;transform:translateY(0)}
}
