body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

textarea, input, select {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  padding: 10px;
  background: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
}

pre {
  background: white;
  padding: 15px;
  white-space: pre-wrap;
}
